# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Images / plots
*.png
*.jpg
*.jpeg

# Documents
*.pdf
*.docx
*.pptx

# Temporary / Office
~$*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Environment
.env
.venv/
